/* main stuff */
.about {
	line-height: 13px;
	font-style: italic;
	text-align: right;
	padding-top: 9px;
	margin-bottom: 0px !important;
	color: white;
}

.center {
	text-align: center;
	margin: 0 auto;
}

p {
	color: #888;
}

.big {
font-size: 22px;
}
.medium{
font-size: 14px !important;
}
.small{
font-size: 12px !important;
}
.white {
color: #fff;
}
.justify-left{
text-align: left;
}
.bold {
	font-weight: bold;
}

.about span{
	font-size: 10px;
}
.upper-right div{
	float: left;
}
.upper-right span{
	float: right;
	margin-left: 10px;
}


.navbar .brand a:hover {
text-decoration: none;
color: #4EB8E0 !important;

}
.navbar .brand {
	font-size: 32px !important;
	padding: 4px 55px 3px !important;

	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	color: #4EB8E0 !important;
}
.navbar .brand span{
	font-size: 12px !important;
	color: #fff !important;
}

/* bootstrap override */
a {
	color:#4EB8E0;
}
.thumbnail {
	background-color: #FFF;
}
.span3-board {
width: 330px !important;
}
.row-fluid {
margin: 0 auto;
margin-top: 10px;
}
.row-fluid .span3 {
margin-left: 5px !important;
}
h4, h5, h6 {
line-height: 14px !important;
}
.btn .caret {
margin-left: 5px !important;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
color: white;
text-decoration: none;
background-color: #333;
}
.dropdown-menu {
max-width: 400px;
overflow: hidden;
overflow-y: scroll;
}

[class*="span"] {
float: left;
margin-left: 8px !important;
}
#superbox-container .btn{
	margin: 7px;
}
.btn-share.btn {
width: 140px;
height: 17px;
padding-top: 6px;
}
.navbar .nav > li > a {
float: none;
color: #4EB8E0;
text-decoration: none;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
font-weight: bold;
margin-top:3px;
}

.border-bottom {
background-image: url(../img/bottom-border.png);
background-repeat: repeat;
height: 5px;
position: absolute;
bottom: -5px;
width: 100%;
opacity: 0.4;
}
.navbar-inner {
min-height: 40px;
padding-left: 20px;
padding-right: 20px;
background-color: #1B1C1F;
background-image: #1B1C1F;
}
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
//width: 1125px;
}
.well {
	background-color: #32353B;
}
.row-fluid .span3 {
width: 24.57%;
}

/* body & other stuff */
body {
	background-image: url(../img/background_gray.png);
}

#player_wrapper{
	visibility: hidden;
}
#imgur-thumbs ul{
margin: 0 auto;
}
#imgur-thumbs {
height: 70px;
margin-top:50px;
overflow: hidden;
}
#imgur-thumbs img {
  padding: 6px 0px 8px 0px;
}

/* Boards */
#row-boards,
#sortable {
margin-left: 0px;
-webkit-columns: 4 20em;
-moz-columns: 4 20em;
columns: 4 20em;
-webkit-column-gap: 5px; /* Chrome, Safari, Opera */
-moz-column-gap: 5px; /* Firefox */
column-gap: 5px; 

}
.boards-nfo{
height: 20px;
text-align: center;
overflow: hidden;
margin-top: 2px;
font-weight: bold;
color: #666;
}
.feed-left{
float: left;
background: transparent;
width: 100%;
}
.feed-right{
float: right;
background: transparent;
}

/* Bottom news */
#row-bottom-news {
margin-left: 0px;
margin-top: 10px;
-webkit-columns: 3;
-moz-columns: 3;
columns: 3;
}
.bottom-news div{
overflow: hidden;
}
.bottom-news .rssFeed{
margin-top: 0px;
}
#vdm-bottom-news{
margin-left: 0px;
margin-top: 10px;
} 

/* Footer */
footer {
    background-color: #32353B;
    border-top: 1px solid #BBB;
    font-size: 1em;
    color: #888;

}

footer p{
float: left;
margin-top: 20px;
margin: 4px;

}
footer span{
    float: right;
    margin-top: 20px;

}

#online-users {
width: 200px;
}
#online-users img{
float: left;
margin-right: 7px;
}

.counter {
font-weight: bold;
color: white;
font-size: 20px;
margin-bottom: 3px;
padding-top: 7px;
}

#bottom-line{
	width:100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important; /* ie7 fix */
    height: 100%;
    margin: 0 auto -100px;
}

.footer, .push {
    //height: 100px;
}

.tipsy{
	padding: 5px;
	font-size: 10px;
	font-weight: bold;
	opacity: 0.9;
	filter: alpha(opacity=90);
	background-repeat: no-repeat;
	background-image: url(../img/tipsy.gif);
	font-family: Arial, Verdana, sans-serif;
	margin-top: 2px;
}
.tipsy-inner{
	padding: 5px 8px 4px 8px;
	background-color: black;
	color: white;
	max-width: 200px;
	text-align: center;
}

.tipsy-inner{ -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north{ background-position: top center; }
.tipsy-south{ background-position: bottom center; }
.tipsy-east{ background-position: right center; }
.tipsy-west{ background-position: left center; }

.rssRow {
    overflow:hidden;
}


/* build page */

#board-name{
	font-size: 17px;
}

.btn.save-board {
margin: 0 auto;
margin-top: 10px;
background-color: #91B17A !important;
background-image: none !important;
text-shadow: none;
color: #fff;
font-size: 16px;
font-weight: 300;
padding: 10px;
}
.btn.save-board:hover {
background-color: #74a051 !important;
}
.form-flux{
margin-top: 20px;
}

#submit-flux {
  height: 30px;
  vertical-align: top;
}
.build-header {
margin-top: 40px;
}
.build-header span{
	display: inline-block;
	font-size: 17px;
	margin-bottom: 10px;
}
.custom-board-url {
  margin-top: 22px;
}
#sortable li {
  cursor: move;
}
#board-url{
width: 500px;
font-size: 18px;
height: 20px;
}

.preview-board {
	margin-right: 90px;
}
 
.build-boards {
border: 1px solid #999;
height: 230px;
margin-bottom: 3px;
}

.build-boards p{
	margin-top: 90px;
}
.place-small{
	font-size: 10px;
}
.board-options li {
	list-style-type: none;
	width: 20px;
	height: 20px;
	border: 1px solid #aaa;
	display: inline-block;
}
.board-options ul {
	margin-left: 0px;
}

.clear-board-link {
  margin-top: -12px;
  float: right;
  background-color: #d63535;
  background-image: none !important;
  color: #fff;
  text-shadow: none !important;
}
.clear-board-link:hover {
  margin-top: -12px;
  float: right;
  background-color: #ea2c2c;
  background-image: none !important;
  color: #fff;
  text-shadow: none !important;
}

/* Player */

.hide-it{
	display: none;
}
.show-it {
	display: inline-block;
}

#player {
  position: relative;
  float: left;
  top: 14px;
  border: 1px solid #333;
}
.pl-title {
  width: 100px;
  height: 18px;
  vertical-align: bottom;
  overflow: hidden;
  display: inline-block;
}

.btn-play{
  padding: 0 4px 0 4px;
  border-right: 1px solid #333;
  display: inline-block;
}
.btn-play:hover{
	background-color: #333;
}
.btn-list{
  padding: 0 4px 0 4px;
  border-left: 1px solid #333;
  display: inline-block;
  cursor: pointer;
}
.btn-list:hover{
	background-color: #333;
}
.playlist {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #333;
}

.playlist li{
	padding: 2px 0 2px 6px;
}

.playlist li:hover{
	background-color: #4EB8E0;
	color: #fff;
	cursor: pointer;
}